absl-py
annotated-types
anyio
attrs
certifi
cffi
click
contourpy
cycler
deprecation
fastapi
flatbuffers
fonttools
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
postgrest
protobuf
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
realtime
scipy
sentencepiece
six
sniffio
sounddevice
starlette
storage3
StrEnum
supabase
supafunc
typing-inspection
typing_extensions
uvicorn
websockets
